<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
    </head>
    <body>
        <ul>
            {% for message in messages %}
            <li>
                <span><strong>{{ message }}</strong></span>
            </li>
            {% endfor %}
        </ul>

        <p>Logged in as <a href="/user/{{user.username}}">{{user.username}}</a></p>
        <p>{{user.bio}}</p>
        <a href="/post">Compose</a>
        <a href="/logout">Log Out</a>
        <hr />
        <ul>
            {% for thread in posts %}
                <li>{{thread.timestamp}}</li>
                {% for post in thread.contents %}
                    <p>{{post.body}}</p>
                {% endfor %}
                {% for tag in thread.tags %}
                    <p>#{{tag}}</p>
                {% endfor %}
            {% endfor %}
        </ul>
    </body>
</html>