<!DOCTYPE html>
<html>
    <head>
        <title>User</title>
    </head>
    <body>
        <h1>{{user.username}}</h1>
        <p>{{user.bio}}</p>
        <ul>
            {% for thread in posts %}
                <li>{{thread.timestamp}}</li>
                {% for post in thread.contents %}
                    <p>{{post.body}}</p>
                {% endfor %}
                {% for tag in thread.tags %}
                    <p>#{{tag}}</p>
                {% endfor %}
            {% endfor %}
        </ul>
    </body>
</html>